<div class="col-md-6 mb-4">
  <div class="card">
    <h5 class="card-header"><%= link_to kigurumi.character&.name_with_work || '？', kigurumi_path(kigurumi) %></h5>
    <div class="card-body">
        <% if kigurumi.kigurumi_images.any? %>
            <div class="tweet-container" data-tweet-id="<%= kigurumi.kigurumi_images[0]&.tweet_id %>"></div>
        <% else %>
            <div class="alert alert-danger text-center">No Image</div>
        <% end %>
    </div>
  </div>
</div>