<%= render 'shared/header' %>

<div class="jumbotron">
  <h1 class="display-4">着ぐるみ閻魔帳</h1>
  <p class="lead">着ぐるみ閻魔帳へようこそ！　世界中の人型着ぐるみを管理するデータベースです。</p>
  <hr class="my-4">
  <p>現在<b><%= Kigurumi.count %></b>件の着ぐるみが登録されています。
  <p>現在<b><%= Person.count %></b>件の人が登録されています。
</div>